/* Css Rules */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
:root {
  --bg-color: black;
  --main-color: #00ccff;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  font-size: 62.5%;
  color: var(--text-color);
  font-family: "Nunito", sans-serif;

  /* scroll-snap-type: y mandatory; */
}
a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}
/* grid rules */
.contianer {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;

  gap: 3rem;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
/* Navbar Css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem 1.5rem 3rem;
  width: 100%;
  background-color: var(--bg-color);
}

.logo {
  font-size: 2.3rem;
  color: var(--main-color);
  text-shadow: none;
  transition: all ease 1s;
}
.logo:hover {
  text-shadow: 0 0 10px rgba(0, 204, 255, 0.8), 0 0 20px rgba(0, 204, 255, 0.8),
    0 0 40px rgba(0, 204, 255, 0.8), 0 0 80px rgba(0, 204, 255, 0.8);
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.3rem;
}
.nav-list-item a {
  position: relative;
  padding-bottom: 0.3rem;
  display: inline-block;
  color: var(--text-color);
}

.nav-list-item a::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  bottom: 0;
  height: 0.2rem;
  width: 0;
  transition: all ease-in-out 0.4s;
  background-color: var(--main-color);
}
.nav-list-item:hover a:before,
.nav-list-item.active a::before {
  width: calc(100% + 1rem);
}
.nav-list-item:hover a,
.nav-list-item.active a {
  color: var(--main-color);
}
.hero-section {
  align-items: center;
  margin-top: 3.5rem;
}
header {
  height: 100vh;
}

.dis {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}
.dis h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.dis h1 span {
  color: var(--main-color);
}

.dis p {
  font-size: 1.1rem;
  color: #ccf5ff;
  line-height: 27px;
  font-weight: bold;
}
.my-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.my-list-item a {
  display: flex;
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.social-icon i {
  transition: 0.1s all linear;
}
.github-icon i {
  /* color: #181717; */
  color: var(--text-color);
}

.twitter-icon i {
  /* color: #181717; */
  color: var(--text-color);
}

.youtube-icon i {
  color: #ff0000;
}

.linkedin-icon i {
  color: #0077b5;
}

.telegram-icon i {
  color: #0088cc;
}
.github-icon i:hover,
.twitter-icon i:hover,
.youtube-icon i:hover,
.linkedin-icon i:hover,
.telegram-icon i:hover {
  text-shadow: 0 0 40px currentColor;
  transform: scale(1.1);
}
/* .my-list-item a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  box-shadow: 0 0 1rem var(--main-color);
} */

/* dis end */
img {
  width: 25rem;
  border-radius: 50%;
  align-self: center;
}

.img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img::before {
  content: "";
  position: absolute;
  width: calc(25rem + 6px);
  height: calc(25rem + 6px);
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: var(--main-color);
  box-shadow: 0 0 60px currentColor;
}

.img:hover::before {
  animation: col infinite linear 4s;
}

@keyframes col {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(150deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@media (max-width: 700px) {
  body {
    font-size: 25%;
  }
}

/*! featerus page */

.features {
  min-height: 100vh;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

.features > h2 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
}

.feat-box {
  padding: 1.8rem;
  background-color: #e6faff;
  border: 2px solid var(--main-color);
  border-radius: 12px;
  color: black;
  box-shadow: 0px 0px 28px 8px rgba(0, 204, 255, 0.35);
  -webkit-box-shadow: 0px 0px 28px 8px rgba(0, 204, 255, 0.35);
  -moz-box-shadow: 0px 0px 28px 8px rgba(0, 204, 255, 0.35);
}
.feat-box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.feat-box-head h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #003d4c;
}

.feat-box-head .feat-icon i {
  display: inline-block;
  font-size: 3rem;
  color: #003d4c;
  margin-left: 20px;
}

.faet-box-body {
  font-size: 1rem;
  line-height: 24px;
  color: #555;
}

.feat-box:nth-child(odd) {
  transform: translateX(-400%);
  opacity: 0;
  transition: all ease 1s;
}
.feat-box:nth-child(even) {
  transform: translateX(400%);
  opacity: 0;
  transition: all ease 1s;
}
.feat-box:nth-child(odd).show {
  transform: translateX(0%);
  opacity: 1;
}
.feat-box:nth-child(even).show {
  transform: translateX(0%);
  opacity: 1;
}

/*& servises page */

.servises {
  min-height: 100vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.servises .contianer {
  gap: 5rem;
}
.servises > h2 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
}

.cont-card {
  height: 30rem;
  width: 16rem;
  max-width: 16rem;
}
.card {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 5px;
  background-color: #1a1a1a;
  position: relative;
  overflow: hidden;
  z-index: 7;
  transition: 0.3s all ease;
}
.card::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 25%;
  width: 50%;
  height: calc(100% + 80px);
  animation: card-rotate 3.5s linear infinite;
  z-index: -2;
}
.card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: #1a1a1a;
  z-index: -1;
}

.green.card::before {
  color: #40c057;
  background-image: linear-gradient(
    to bottom,
    #00ccff,
    #00daf8,
    #00e4d2,
    #00e990,
    #01e92b
  );
}
.gold.card::before {
  color: #f08c00;
  background-image: linear-gradient(
    to bottom,
    #00ccff,
    #00cfcc,
    #3ec879,
    #a2b41d,
    #f08c00
  );
}
.legend.card::before {
  color: #cc5de8;
  background-image: linear-gradient(
    to bottom,
    #00ccff,
    #00b9ff,
    #009eff,
    #7074ff,
    #cc00ff
  );
}
@keyframes card-rotate {
  feom {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 28px 8px rgba(0, 204, 255, 0.35);
  -webkit-box-shadow: 0px 0px 28px 8px rgba(0, 204, 255, 0.35);
  -moz-box-shadow: 0px 0px 28px 8px rgba(0, 204, 255, 0.35);
  border: 2px solid var(--main-color);
}
.card:hover::before {
  animation: none;
  background-image: none;
}
.card .head-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--main-color);
}

.head-card .ser-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.head-card .ser-icon i:nth-child(1) {
  font-size: 2.5rem;
  color: #40c057;
}
.head-card .ser-icon i:nth-child(2) {
  font-size: 2.5rem;
  color: #f08c00;
}
.head-card .ser-icon i:nth-child(3) {
  font-size: 2.5rem;
  color: #cc00ff;
}

/* .head-card .ser-icon i {
  font-size: 2.5rem;
  color: var(--main-color);
} */

.head-card .pric {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.body-card .ser-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.85rem;
}
.body-card .ser-list .ser-list-item i {
  display: block;
  font-size: 1rem;
  color: var(--main-color);
}
.body-card .ser-list .ser-list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 1.3rem;
  padding: 0.5rem 1.7rem;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  z-index: 50;
}

.btn-card.btn-card-legend {
  border: 1.8px solid #cc5de8;
  color: #cc5de8;
}
.btn-card.btn-card-green {
  border: 1.8px solid #40c057;
  color: #40c057;
}
.btn-card.btn-card-gold {
  border: 1.8px solid #f08c00;
  color: #f08c00;
}

.btn-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.3s all ease;
  border-radius: 50% 50% 0 0;
  z-index: -2;
}

.btn-card-legend.btn-card:hover::before {
  height: 180%;
  background-color: #cc5de8;
}

.btn-card-gold.btn-card:hover::before {
  height: 180%;
  background-color: #f08c00;
}
.btn-card-green.btn-card:hover::before {
  height: 180%;
  background-color: #40c057;
}

.btn-card-gold.btn-card:hover {
  box-shadow: -1px -1px 25px 2px rgba(240, 140, 0, 0.2);
  -webkit-box-shadow: -1px -1px 25px 2px rgba(240, 140, 0, 0.2);
  -moz-box-shadow: -1px -1px 25px 2px rgba(240, 140, 0, 0.2);
}
.btn-card-legend.btn-card:hover {
  box-shadow: -1px -1px 25px 2px rgba(204, 93, 232, 0.2);
  -webkit-box-shadow: -1px -1px 25px 2px rgba(204, 93, 232, 0.2);
  -moz-box-shadow: -1px -1px 25px 2px rgba(204, 93, 232, 0.2);
}
.btn-card-green.btn-card:hover {
  box-shadow: -1px -1px 25px 2px rgba(64, 192, 87, 0.2);
  -webkit-box-shadow: -1px -1px 25px 2px rgba(64, 192, 87, 0.2);
  -moz-box-shadow: -1px -1px 25px 2px rgba(64, 192, 87, 0.2);
}
.btn-card:hover {
  color: #fff;
  z-index: 50;
}

.footer-card {
  padding-top: 1rem;
  position: relative;
}
.footer-card::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 2px;
  background-color: var(--main-color);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/** conatct page **/
.contact {
  min-height: 100vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.contact .contianer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact > h2 {
  display: block;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  text-align: center;
}
.form-cont {
  width: 30rem;
  height: 21rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all linear 0.3s;
}
.form-cont::before {
  content: "";
  position: absolute;
  top: -150px;
  left: 25%;
  width: 50%;
  height: calc(100% + 300px);
  background-image: linear-gradient(to bottom, #00ccff, #c300ff);
  border-radius: 10px;
  transition: 0.3s ease all;
  animation: card-rotate 4s ease-in-out infinite;
}
.form-cont::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: black;
  border-radius: 10px;
}

.form > h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
  border-radius: 10px;
  z-index: 20;
  position: relative;
  transition: all 0.3s ease;
}

.form .name-input1,
.form .name-input2 {
  width: 80%;
  position: relative;
  margin-bottom: 2rem;
}
.form .name-input1 input,
.form .name-input2 input {
  width: 100%;
  height: 2.4rem;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  outline-style: none;
  outline: none;
  color: #aeece7;
  font-size: 1.2rem;
  z-index: 2;
}
.form-cont:hover {
  /* box-shadow: 0px 18px 33px 9px rgba(0, 204, 255, 0.65);
  -webkit-box-shadow: 0px 18px 33px 9px rgba(0, 204, 255, 0.65);
  -moz-box-shadow: 0px 18px 33px 9px rgba(0, 204, 255, 0.65); */
  box-shadow: 0px 0px 33px 9px rgba(0, 204, 255, 0.65);
  -webkit-box-shadow: 0px 0px 33px 9px rgba(0, 204, 255, 0.65);
  -moz-box-shadow: 0px 0px 33px 9px rgba(0, 204, 255, 0.65);
  transform: translateY(-15px);
}
.form-cont:hover::before {
  animation: none;
  background-image: none;
}
.name-input1 span,
.name-input2 span {
  position: absolute;
  /* top: 14%; */
  left: 14px;
  color: var(--main-color);
  /* font-size: 1rem; */
  padding: 0.2rem;
  transition: 0.06s all linear;
  top: -30%;
  font-size: 0.8rem;
  background-color: black;
  z-index: 5;
}
.btn-card.btn-card-blue {
  border: 1.8px solid var(--main-color);
  color: var(--main-color);
  display: block;
  z-index: 40;
  text-align: center;
  width: 20%;
  margin: 1rem auto 2rem;
}
.btn-card-blue.btn-card:hover::before {
  height: 180%;
  background-color: var(--main-color);
}
.btn-card-blue.btn-card:hover {
  color: #fff !important;
}
/* .name-input1 input:focus + span {
  top: -30%;
  font-size: 0.8rem;
  background-color: black;
  z-index: 5;
}
.name-input2 input:focus + span {
  top: -30%;
  font-size: 0.8rem;
  background-color: black;
  z-index: 5;
} */

.icon-foot-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 5rem;
}

.icon-foot-main {
  font-size: 5rem;
  display: block;
}

.contact .grid {
  gap: 7rem !important;
}

footer {
  height: 50px;
  background-color: #000;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}
footer p {
  font-size: 1.2rem;
  font-weight: bold;
}
